<!DOCTYPE html>
<html>
<head>
  <title>匿名版 - HitChan</title>
  <meta charset="UTF-8"> 
  <style>
    * {
      margin: 0;
      padding: 0;
      outline: 0;
      font-size: 100%;
    }
  </style>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'forum/img/favicon.png' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'forum/css/hc-menu-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'forum/css/hc-top-bar-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'forum/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'forum/css/hc-index-main-style.css' %}">
  <script type="text/javascript" src="{% static 'forum/js/hc-menu-loader.js' %}"></script>
</head>
<body onload="loadHcMenu()">
  <div class="hc-top-bar">
    <h1>H I T C h a n !</h1>
    <a href="/forum/"></a>
  </div>
  
  <div id="hc-menu">
    <h2 class="category">&nbsp板块分区</h2>
    <ul id="hc-menu-content">
    </ul>
  </div>

  <div id="hc-index-main">
    <h1>别让你的舌头抢先于你的思考。—— 德谟克里特</h1>
    <img src="{% static 'forum/img/index.jpg' %}" alt="H I T">
    <p>
      欢迎，HitChan是一个前台匿名后台实名的非营利性网站，旨在为大家提供一个理性客观中立的讨论环境。
    </p>
  </div>

</body>
</html>
