<!DOCTYPE html>
<html>
<head>
  <title>匿名版 - HitChan</title>
  <meta charset="UTF-8"> 
  <style>
    * {
      margin: 0;
      padding: 0;
      outline: 0;
      font-size: 100%;
    }
  </style>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'forum/img/favicon.png' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'forum/css/hc-menu-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'forum/css/hc-top-bar-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'forum/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'forum/css/hc-index-main-style.css' %}">
  <script type="text/javascript" src="{% static 'forum/js/hc-menu-loader.js' %}"></script>
</head>
<body onload="loadHcMenu()">
  <div class="hc-top-bar">
    <h1>H I T C h a n !</h1>
    <a href="/forum/"></a>
  </div>
  
  <div id="hc-menu">
    <h2 class="category">&nbsp;板块分区</h2>
    <div id="hc-menu-content">
      <div>
        <input id="hc-menu-checkbox-1" type="checkbox">
        <label for="hc-menu-checkbox-1" onclick="setHeight(1)">综合版</label>
        <ul id="hc-menu-category-1">
          <li>fuck me1</li>
          <li>fuck me1</li>
          <li>fuck me1</li>
          <li>fuck me1</li>
        </ul>
      </div>
      <div>
        <input id="hc-menu-checkbox-2" type="checkbox">
        <label for="hc-menu-checkbox-2" onclick="setHeight(2)">私密话题</label>
        <ul id="hc-menu-category-2">
          <li>fuck me1</li>
          <li>fuck me1</li>
          <li>fuck me1</li>
          <li>fuck me1</li>
          <li>fuck me1</li>
          <li>fuck me1</li>
        </ul>
      </div>
      <div>
        <input id="hc-menu-checkbox-3" type="checkbox">
        <label for="hc-menu-checkbox-3" onclick="setHeight(3)">学习考试</label>
        <ul id="hc-menu-category-3"></ul>
      </div>
      <div>
        <input id="hc-menu-checkbox-4" type="checkbox">
        <label for="hc-menu-checkbox-4" onclick="setHeight(4)">游戏</label>
        <ul id="hc-menu-category-4"></ul>
      </div>
      <div>
        <input id="hc-menu-checkbox-5" type="checkbox">
        <label for="hc-menu-checkbox-5" onclick="setHeight(5)">动漫</label>
        <ul id="hc-menu-category-5"></ul>
      </div>
      <div>
        <input id="hc-menu-checkbox-6" type="checkbox">
        <label for="hc-menu-checkbox-6" onclick="setHeight(6)">联系我们</label>
        <ul id="hc-menu-category-6"></ul>
      </div>
    </div>
  </div>

  <div id="hc-index-main">
    <h1>别让你的舌头抢先于你的思考。—— 德谟克里特</h1>
    <img src="{% static 'forum/img/index.jpg' %}" alt="H I T">
    <p>
      欢迎欢迎~HitChan是一个彻彻底底的匿名聊天网站，旨在为大家创造一个自由、开放，可以搞基、py交易、以及谈谈自己的私密话题的小天地。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;···在这里每个人将由uid号进行区分，uid号对应着本人的电脑。同时每个人也可以给自己加一个羞耻的名字。（噗<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;···服务器设置在秘密基地，所以原则上言论自由，但是如果发现有谩骂、攻击等行为的用户，请前往<a href="/forum/b/23/1/">有关部门</a>进行举报。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;···被举报者一经查实，将在未来没收cookies（封禁功能尚不完善T T）。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;···现在网站初步建设完成，还很不完善，将试运作一段时间。如果没了大大们的<a href="/forum/b/24/1/">意见和建议</a>，我们不能够茁壮成长。如果您发现了BUG，那您赶紧<a href="/forum/b/25/1/">告诉我</a>，我们将拍死他！
    </p>
  </div>

  <script type="text/javascript">
    function load() {
      "use strict";
      var indexPointer = -1;
    }
  </script>

</body>
</html>
