<!DOCTYPE html>
<html>
<head>
  <title id="title"></title>
  <meta charset="UTF-8">
  <style>
    * {
      margin: 0;
      padding: 0;
      outline: 0;
      font-size: 100%;
    }
  </style>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'forum/css/hc-thread-main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'forum/css/hc-menu-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'forum/css/hc-top-bar-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'forum/css/hc-navigation-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'forum/css/hc-tool-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'forum/css/hc-post-form-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'forum/font-awesome/css/font-awesome.min.css' %}">
  <script type="text/javascript" src="{% static 'forum/js/hc-menu-loader.js' %}">
  </script>
  <script type="text/javascript" src="{% static 'forum/js/hc-thread-list-loader.js' %}">
  </script>
  <script type="text/javascript" src="{% static 'forum/js/hc-page-navigation-generator.js' %}">
  </script>
</head>
<body onload="load()">
  <div class="hc-top-bar">
    <h1>H I T C h a n !</h1>
    <a href="/forum/"></a>
  </div>

  <div id="hc-menu">
    <h2 class="category">&nbsp板块分区</h2>
    <ul id="hc-menu-content">
    </ul>
  </div>

  <div class="main">

    <div id="hc-board-title">
    </div>

    <div id="hc-thread-list">
    </div>

    <ul id="hc-page-navigation">
    </ul>

    <div id="hc-post">
      <form id="hc-post-form" action="/forum/api/post_thread/" method="post">
        {% csrf_token %}
        <div class="hc-post-form-input">
          <div>名称</div>
          <input type="text" name="username" maxlength="50">
        </div>
        <div class="hc-post-form-input">
          <div>Email</div>
          <input type="text" name="email" maxlength="50">
        </div>
        <div class="hc-post-form-input">
          <div>标题</div>
          <input type="text" name="title" maxlength="50">
        </div>
        <div class="hc-post-form-input" style="height: 150px;">
          <div style="height: 100%; line-height: 150px;">正文</div>
          <textarea name="text" rows="10" cols="30"></textarea>
        </div>
        <div class="hc-post-form-submit">
          <input type="submit" value="提交">
        </div>
      </form>
    </div>

  </div>
  <a href="#" class="hc-tool">
    <i class="fa fa-angle-double-up fa-3x" aria-hidden="true"></i>
  </a>

  <script type="text/javascript">
    function load() {
      "use strict";
      var boardInformations = window.location.href.split("/");
      var boardId = parseInt(boardInformations.slice(-3)[0]);
      var page = parseInt(boardInformations.slice(-2)[0]);
      var input = document.createElement("input");
      input.setAttribute("type", "hidden");
      input.setAttribute("name", "board_id");
      input.setAttribute("value", boardId);
      document.getElementById("hc-post-form").appendChild(input);

      loadHcMenu();
      loadThreadList(boardId, page);
    }
  </script>

</body>
</html>
