<!DOCTYPE html>
<html>
<head>
  <title id="title"></title>
  <meta charset="UTF-8">
  <style>
    * {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
    }
  </style>
  <script src="https://use.fontawesome.com/ed6f611998.js"></script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'forum/css/hc-menu-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'forum/css/hc-top-bar.css' %}">
  <script type="text/javascript" src="{% static 'forum/js/hc-menu-loader.js' %}">
  </script>
  <script type="text/javascript" src="{% static 'forum/js/hc-thread-list-loader.js' %}">
  </script>
  <script type="text/javascript" src="{% static 'forum/js/hc-page-navigation-generator.js' %}">
  </script>
</head>
<body onload="load()">
  <div class="hc-top-bar">
    <h1>H I T C h a n !</h1>
    <a href="/forum/"></a>
  </div>

  <div id="hc-menu">
    <h2 class="category">板块分区</h2>
    <ul id="hc-menu-content">
    </ul>
  </div>

  <div id="hc-post">
    <form id="hc-post-form" action="/forum/api/post_thread/" method="post">
      {% csrf_token %}
      <div class="hc-post-form-input">
        名称<br>
        <input type="text" name="username" maxlength="50">
      </div>
      <div class="hc-post-form-input">
        Email<br>
        <input type="text" name="email" maxlength="50">
      </div>
      <div class="hc-post-form-input">
        标题<br>
        <input type="text" name="title" maxlength="50">
      </div>
      <div class="hc-post-form-input">
        正文<br>
        <textarea name="text" rows="10" cols="30"></textarea>
      </div>
      <input type="submit" value="提交">
    </form>
  </div>

  <div id="hc-thread-list">
  </div>
  
  <ul id="hc-page-navigation">
  </ul>

  <a href="#">回到顶部</a>

  <script type="text/javascript">
    function load() {
      "use strict";
      var boardInformations = window.location.href.split("/");
      var boardId = parseInt(boardInformations.slice(-3)[0]);
      var page = parseInt(boardInformations.slice(-2)[0]);
      var input = document.createElement("input");
      input.setAttribute("type", "hidden");
      input.setAttribute("name", "board_id");
      input.setAttribute("value", boardId);
      document.getElementById("hc-post-form").appendChild(input);

      loadHcMenu();
      loadThreadList(boardId, page);
    }
  </script>

</body>
</html>
