
#hc-index-main {
	margin-left: 177px;
	margin-top: 40px;
	padding-top: 42px;
	font-family: "Microsoft YaHei", sans-serif;
	text-align: center;
}

#hc-index-main h1 {
	font-size: 2.5em;
	font-weight: bold;
	color: #330033;
	text-shadow: 2px 2px 2px #9999cc;

}

#hc-index-main img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

#hc-index-main p {
	position: relative;
	top: 0;
	padding-left: 80px;
	font-size: 0.8em;
	color: #330033;
	text-align: left;
}
