#hc-menu {
	position: fixed;
	width: 13%;
	height: 100%;
	padding: 0;
	margin: 0;
	top: 2.4em;
	border-top: 0.1em solid gray;
	background-color: #f1f1f1;
	font-family: sans-serif !important;
    overflow: auto;
}

.category {
	display: inline-block;
	height: 1.7em;
	width: 100%;
	border-bottom: 1px solid gray;
	margin: 0;
	background-color: #663366;
	color: #f1f1f1;
	font-size: 1.5em;
	line-height: 1.7em;
	white-space: nowrap;
}

#hc-menu-content {
	padding: 0;
	border: 0;
	margin: 0;
	overflow: auto;
}

#hc-menu-content > li {
	padding: 0;
	border-bottom: 0.1em solid white;
	list-style-type: none;
}

#hc-menu-content > li > a {
	display: block;
	padding-left: 1.7em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 1em;
	letter-spacing: 0.2em;
	color: #000;
	text-decoration: none;
	transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;	
}

#hc-menu-content > li > a:hover {
	background-color: #cccccc;	
	color: white;
}

#hc-menu-content > li > a.active {
	background-color: #da70d6;
	color: white;
}
