#hc-menu {
	z-index: 1;
	position: fixed;
	left: 0;
	top: 0;
	width: 177px;
	height: 100%;
	padding-top: 40px;
	margin: 0;
	background-color: #fff;
	font-family: "Microsoft YaHei", sans-serif !important;
	box-sizing: border-box;
	box-shadow: 0 3px 5px black;
    overflow: auto;
}

#hc-menu-content {
	z-index: 3;
	padding: 0;
	border: 0;
	margin: 0;
	overflow: auto;
}

#hc-menu-content > div {
	position: relative;
}

#hc-menu-content input {
	display: none;
}

#hc-menu-content input:checked ~ ul {
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
}

#hc-menu-content label {
	display: block;
	height: 35px;
	padding-left: 7px;
	cursor: pointer;
	line-height: 35px;
	font-size: 1em;
	background-color: #663366;
	color: white;
	box-shadow: 0 0 3px #9A849A;
	letter-spacing: 0.2em;
}

#hc-menu-content .fa-chevron-right {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 140px;
	font-size: 0.9em;
	pointer-events: none;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	-ms-transition:  0.4s;
}

#hc-menu-content input:checked ~ i {
	transform: rotate(90deg);
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	-ms-transition:  0.4s;
}

#hc-menu-content ul {
	height: 0px;
	overflow: hidden;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

#hc-menu-content li {
	display: block;
	height: 35px;
	padding: 0;
	background-color: #fff;
	line-height: 35px;
	border-bottom: 0.1px solid #EBEAEB;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	list-style-type: none;
	white-space: pre-wrap;
}

#hc-menu-content li > a {
	display: block;
	height: 100%;
	padding-left: 30px;
	color: #330033;
	font-size: 1em;
	text-decoration: none;
	transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

#hc-menu-content li > a:hover {
	background-color: #cccccc;	
	color: white;
}

#hc-menu-content .active {
	background-color: #da70d6;
	color: white;
}

#hc-easter-egg {
	z-index: -1;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 177px;
}

#hc-easter-egg img {
	position: relative;
	left: 31px;
	bottom: 35px;
	height: 100px;
	width: 110px;
}

#hc-easter-egg h1 {
	font-size: 0.8em;
	padding-bottom: 60px;
	text-align: center;
}
#hc-easter-egg h2 {
	position: relative;
	bottom: 35px;
	font-size: 0.6em;
	padding-bottom: 10px;
	text-align: center;
}
