#hc-page-navigation {
	display: block;
	height: 28.8px;
	padding: 0;
	border: 0;
	margin: 32px 40px;
	list-style-type: none;
	font-family: "Microsoft YaHei", sans-serif;
}

#hc-page-navigation li {
	float: left;
	height: 100%;
	min-width: 27.2px;
	margin-right: 8px;
	text-align: center;
	line-height: 28.8px;
	white-space: nowrap;
}

#hc-page-navigation span {
	display: inline-block;
	height: 100%;
	width: 100%;
	box-shadow: 1px 1px 3px gray;
}

#hc-page-navigation a {
	display: inline-block;
	height: 100%;
	width: 100%;
	padding: 0 8px;
	box-sizing: border-box;
	text-decoration: none;
	box-shadow: 1px 1px 2.5px gray;
}

.hc-page-enabled a {
	background-color: #fafcfd;
	color: #330033;
}

.hc-page-enabled a:hover {
	background-color: #663366;
	color: #f1f1f1;
	transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.hc-page-disabled span {
	padding: 0 8px;
	background-color: #e7e9ea;
	box-sizing: border-box;
	color: #989898;
	cursor: not-allowed;
}

.hc-page-onload span {
	background-color: #da70d6;
	color: white;
}
