#hc-post {
    width: 40%;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.hc-post-form-input {
    margin-top: 5px;
    height: 19px;
    position: relative;
}

.hc-post-form-input div {
    width: 15%;
    position: absolute;
    left: 0;
    line-height: 19px;
}

.hc-post-form-input input, .hc-post-form-input textarea {
    width: 80%;
    position: absolute;
    left: 15%;
}

.hc-post-form-input input, .hc-post-form-input div, .hc-post-form-input textarea {
    display: inline-block;
}

.hc-post-form-submit {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.hc-post-form-submit input {
    width: 10%;
}
