#hc-post {
    width: 40%;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

.hc-post-form-input {
    position: relative;
    height: 30px;
    margin-top: 1em;
}

.hc-post-form-input div {
    position: absolute;
    left: 0;
    height: 100%;
    width: 15%;
    line-height: 30px;
}

.hc-post-form-input input, .hc-post-form-input textarea {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 80%;
    left: 15%;
    border: 0.8px solid #330033;
    border-radius: 5px;
}

.hc-post-form-input input, .hc-post-form-input div, .hc-post-form-input textarea {
    display: inline-block;
}

.hc-post-form-input textarea{
    height: 100%;
    width: 80%;
    resize: none;
}

.hc-post-form-submit {
    width: 100%;
    margin-top: 2em;
    text-align: center;
}

.hc-post-form-submit input {
    padding: 0 1em;
}
