body {
	background-color: #f3eff4;
}

.main {
	z-index: 0;
	margin-left: 177px;
	margin-top: 40px;
	padding-top: 60px;
	font-family: "Microsoft YaHei", sans-serif !important;
}

/* Text Color */
#hc-threadANDreply-list {
	color: #330033;
}

/* Threads */
.quote-before-title::before {
	font-family: FontAwesome;
	font-size: 1.7em;
	content: "\f10d";
}

.hc-thread {
	margin-left: 43.2px;
	margin-bottom: 27.2px;
}

.hc-thread-info span {
    margin-left: 5px;
    margin-right: 5px;
}

.hc-thread-info-title {
	color: #996699;
	font-size: 1.2em;
	font-weight: bold;
}

.hc-thread-content {
	padding-top: 8px;
	padding-left: 30px;
	padding-right: 80px;
	font-size: 1.1em;
	white-space: pre-wrap;
	word-wrap: break-word;
}

/* Replies */
.hc-reply {
	margin-top: 14.4px;
	margin-left: 90px;
	margin-bottom: 20.8px;
	font-size: 1em;
}

.hc-reply-info span {
    margin-left: 5px;
    margin-right: 5px;
}

.hc-reply-info-title {
	font-weight: bold;
	color: #996699;
}

.hc-reply-content {
	padding-top: 17.6px;
	padding-left: 40px;
	padding-right: 110px;
	white-space: pre-wrap;
}
