body {
	background-color: #f3eff4;
}

.main {
	z-index: 0;
	margin-left: 177px;
	margin-top: 40px;
	padding-top: 22px;
	font-family: "Microsoft YaHei", sans-serif !important;
}

/* Board Title Before Threads */
#hc-board-title {
	text-align: center;
	margin-bottom: 30px;
	font-size: 3em;
	font-weight: bold;
	color: #330033;
	text-shadow: 2px 2px 2px #9999cc;
}

/* Threads */
#hc-thread-list {
	color: #330033;
}

.hc-thread {
	margin-left: 43.2px;
	margin-bottom: 20.8px;
	margin-top: 14.4px;
}

.hc-thread-info span {
    margin-left: 5px;
    margin-right: 5px;
}

.hc-thread-info-title {
	font-size: 1.1em;
	font-weight: bold;
	color: #996699;
}

.hc-thread-content {
	padding-top: 17.6px;
	padding-left: 40px;
	font-size: 1em;
}

.hc-thread-info-username, .hc-thread-info-email {
	font-size: 1.1em;
	color: #330033;
}

/* Reply Button */
.hc-thread-info a {
	display: inline-block;
	height: 22px;
	width: 48px;
	background-color: #f4511e;
	color: white;
	line-height: 22px;
	white-space: nowrap;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 2px 3px #999;
	text-decoration: none;
	text-align: center;
}

.hc-thread-info a:hover {
	background-color: #d24000;
}

.hc-thread-info a:active {
	background-color: #d24000;
	box-shadow: 1.3px 2.5px #666;
	transform: translate(1px, 1.5px);
}
