body {
	background-color: #f3eff4;
}

.main {
	font-family: sans-serif !important;
	z-index: 0;
	position: absolute;
	margin-top: 3em;
	width: 86%;
	left: 14%;
}

/* Title style */

#hc-board-title {
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	color: #330033;
}
/* List style */

#hc-thread-list {
	color: #330033;
}

.hc-thread-info-title {
	color: #996699;
	font-size: 1.3em;
	font-weight: bold;
}

.hc-thread-content {
	padding-top: 0.2em;
	padding-left: 0.8em;
	font-size: 1.3em;
}

.hc-thread-info-username {
	color: #330033;
	font-size: 1.3em;
}

.rule-between-threads{
	display: block;
    margin: 0 2.7;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*Navigation style*/

#hc-page-navigation {
	display: block;
	list-style-type: none;
	margin: 2em 1em;
	padding: 0;
	border: 0;
	height: 1.8em;
}

#hc-page-navigation li {
	float: left;
	height: 100%;
	min-width: 1.7em;
	margin-right: 0.5em;
	text-align: center;
	line-height: 1.8em;
	white-space: nowrap;
	border: 0.1em solid #cccccc;
}

#hc-page-navigation span {
	display: inline-block;
	width: 100%;
}

#hc-page-navigation a {
	display: block;
	height: 100%;
	margin: 0;
	text-decoration: none;
}

.hc-page-enabled a {
	background-color: #fafcfd;
	color: #330033;
}

.hc-page-enabled a:hover {
	background-color: #663366;
	color: #f1f1f1;
}

.hc-page-disabled span {
	background-color: #e7e9ea;
	color: #989898;
}

.hc-page-onload span {
	background-color: #da70d6;
	color: white;
}
